/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.form-control {
    display: block;
    overflow: auto;
    margin-bottom: 5px;
}

.form-control label {
    min-width: 150px;
    line-height: 27px;
}

.form-control label,
.form-control input,
.form-control select {
    float: left;
}

button[type='submit'] {
    margin: 10px 0 0 150px !important;
}